.idea
week 1-Jetpack Compose basics/BasicsCodelab2/gradle/wrapper
gradle.properties
gradlew
gradlew.bat
week 2-2-Using state in Jetpack Compose/.gradle/7.1.1/dependencies-accessors
week 2-2-Using state in Jetpack Compose/.gradle/
week 2-1-Layouts in JetpackCompose/gradle/
local.properties
week 3-1-Jetpack Compose theming/.gradle
week 3-2-Jetpack Compose Animation/.gradle
week 3-3-Jetpack Compose Navigation/.gradle
week 4-1-Testing in Jetpack Compose/.gradle
